body {
    margin: 0;
    background-color: wheat;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input:focus {
    outline: none;
}

.d-none {
    display: none !important;
}

#pokedex {
    display: flex;
    flex-wrap: wrap;
}

.pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    margin: 16px;
    width: 140px;
    height: 220px;
    padding: 0px 0 6px 0;
    box-sizing: border-box;
    box-shadow: 2px 2px 8px grey;
    transition: all 255ms ease-in-out;
}

.pokemon:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 8px grey;
    cursor: pointer;
}

.pokemonImgSmall {
    height: 86px;
    width: 100%;
    object-fit: contain;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-bottom: 8px;
}

.innerPokemon {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    margin-top: -5px;
    margin-bottom: -5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-style: solid;
    border-width: 1px;
}

.pokemonName {
    font-weight: bold;
}

#bigPokemonBackground {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgba(128, 128, 128, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#bigPokemonCard{
    height: 95vh;
    width: 336px;
    display: flex;
    border-radius: 16px;
    border-color: #293133;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
}

.pokemonImgBig{
    width: 100%;
    height: 45%;
    object-fit: contain;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-bottom: 16px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 100%;
    border-radius: 16px;
    border-top-style: solid;
    border-width: 1px;
    border-color: #293133;
    margin-top: -14px;
}

#stats {
    position: absolute;
    left: 10px;
    width: calc(100% - 10px);
}

.statsParent {
    position: relative;
    width: 100%;
}

.statusbar {
    border-style: solid;
    border-width: 1px;
    background-color: cornflowerblue;
    border-radius: 3px;
    text-align: center;
    color: white;
    animation: statusScale 2s ease-in-out;
}

@keyframes statusScale {
    0%{width: 0;}
    40%{width: 80%;}
}

.types {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.typ {
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    margin: 4px;
    padding: 4px;
}

.spaceEven{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fire {
    background-color: #FD7D24;
}

.poison {
    background-color: #B97FC9;
}

.grass {
    background-color: #6DBB50;
}

.water {
    background-color: #4592C4;
}

.bug {
    background-color: #729F3F;
}

.normal {
    background-color: #A4ACAF;
}

.electric {
    background-color: #EED535;
}

.fairy {
    background-color: #FDB9E9;
}

.ground {
    background-color: #DEBC54;
}

.flying {
    background-color: #78ACFF;
}

.fighting {
    background-color: #BC5442;
}

.psychic {
    background-color: #FF549A;
}

.rock {
    background-color: #BCAC66;
}

.ice {
    background-color: #78DEFF;
}

.ghost {
 background-color: #6666BC;   
}

.dragon {
    background-color: #7866EF;
}